$text: #E0E0E0;
$contrast-text: #fff;
$bg:#212121;
$accent-bg:#121212;
$secondary-bg: #2E2E2E;
$data: #BCCCDC;
$btn-bg: #2E2E2E;
$btn-text: #BC84FA;
$btn-primary-bg:#B786FC;
$btn-primary-hover-bg: #1D1D1D;
$btn-primary-text: #1D1D1D;
$btn-primary-hover-text: #B786FC;


$basic-font: 'Arial';
$code-font: monospace;
